@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row clearfix">
        <br />
        <div class="col-sm-12">
            <a href="Home/StudentAsString">Student Data </a><br />
          
            
       
            <a href="Home/StudentAsFileResult">Student Data using FileResult</a><br />
            <a href="Home/StudentAsJSONResult">Student Data using JSONResult</a><br />
            
        </div>
    </div>
</div>


