
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shareds/_LayoutPanel.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Online Courses</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="#">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Courses</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- banner bottom section -->
    <div class="w3l-index-block4 py-md-5 py-4">
        <div class="features-bg py-lg-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="#" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/c2.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>1100</h6>
                                    <h4>Learn Code</h4>
                                    <p>More Details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="courses.html" class="d-flex feature-unit align-items-center active">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/c3.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>Free</h6>
                                    <h4>Science</h4>
                                    <p>Get More Details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="#" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/c4.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>1100</h6>
                                    <h4>Mathematics</h4>
                                    <p>EDU Details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="#" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/c5.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>Free</h6>
                                    <h4>Ww Recognize</h4>
                                    <p>More Details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="#" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/c6.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>1100</h6>
                                    <h4>Online Learning</h4>
                                    <p>MOre Details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="courses.html" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/c1.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>1100</h6>
                                    <h4>Astrology</h4>
                                    <p>Provi0de more details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="courses.html" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/paint.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>Free</h6>
                                    <h4>Ww Recognize</h4>
                                    <p>Ras effic itur metusga via suscipit</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="courses.html" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/history.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>1100</h6>
                                    <h4>Online Learning</h4>
                                    <p>Ras effic itur metusga via suscipit</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="courses.html" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="../Content/assets/images/design.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>1100</h6>
                                    <h4>Astrology</h4>
                                    <p>Ras effic itur metusga via suscipit</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- pagination -->
                <div class="pagination-style">
                    <ul>
                        <li>
                            <a href="#none" class="not-allowed" disabled="">
                                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li><a class="active" href="#page">1</a></li>
                        <li>
                            <a href="#page">2</a>
                        </li>
                        <li>
                            <a href="#page">3</a>
                        </li>
                        <li>
                            <a href="#page">
                                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //pagination -->
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

