
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shareds/_LayoutPanel.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Welcome To Our School</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</center>

