@model OnlineEDUschoolManaementSystemMVC.Models.Student
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shareds/_LayoutPanel.cshtml";
}



<center style="background-color:bisque">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <table style="width: 433px; height: 370px; background-color: #0026ff; font-size: large; font-weight: bold;">
            <th colspan="2" align="center"><h1>Sign In</h1></th>


            <tr>
                <td align="center">Username</td>
                <td align="center">
                    <a>@Html.TextBoxFor(m => m.Name)</a>
                </td>
            </tr>
            <tr>
                <td align="center">Phone</td>
                <td align="center">
                    @Html.TextBoxFor(m => m.Mobile)
                </td>
            </tr>







            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Login" name="Login" class="btn btnOrder" />

                </td>
            </tr>
        </table>
    }

    <br />


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</center>


