@{
    ViewBag.Title = "Home Page";
}
<style>
    #icon {
        margin-top: 20px;
        font-size: 50px;
        color: #0026ff;
    }

        #icon:hover {
            color: red;
            font-size: 60px;
        }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="row">
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">
                <h2 style="text-align:center">Transactions</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-user"></i>




                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-3">
    <div class="card" style="height:200px">
        <div class="card-body">
            <h2 style="text-align:center">Transaction History</h2>
            <div style="text-align:center">
                <i id="icon" class="fa fa-users"></i>
            </div>
        </div>
    </div>
</div>
    
<div class="col-lg-3">
    <div class="card" style="height:200px">
        <div class="card-body">
            <h2 style="text-align:center">Accounts</h2>
            <div style="text-align:center">
                <i id="icon" class="fa fa"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card" style="height:200px">
        <div class="card-body">
            <h2 style="text-align:center">Loans</h2>
            <div style="text-align:center">
                <i id="icon" class="fa fa"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card" style="height:200px">
        <div class="card-body">
            <h2 style="text-align:center">Customer care</h2>
            <div style="text-align:center">
                <i id="icon" class="fa fa"></i>
            </div>
        </div>
    </div>
</div>


</div>
